<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/static/js/jquery.jscroll.js"></script>
        <script type="text/javascript" src="/static/js/jquery.ba-throttle-debounce.min.js"></script>
        <link type="text/css" rel="stylesheet" href="static/css/foundation-5.5.1.custom/css/normalize.css"/>
        <link type="text/css" rel="stylesheet" href="static/css/foundation-5.5.1.custom/css/foundation.css"/>
        <link type="text/css" rel="stylesheet" href="static/css/overrides.css"/>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>Many critics of Israel make this claim. But is it true? Here's one definition:</p>
        <blockquote>
            (In South Africa) A policy or system of segregation or discrimination 
            on grounds of race...[from] Afrikaans, literally 'separateness', from 
            Dutch apart 'separate' + -heid</br>
            &#8212;<a href="http://goo.gl/7cN6JR">Oxford New English Online Dictionary</a>
        </blockquote>
                <p>Here's a few photos from the street of Apartheid-era South Africa: (courtesy of 
        <a href="http://goo.gl/WC3PHG">http://goo.gl/WC3PHG</a>)</p>
        <figure style="max-width:600px;">
            <img src="http://cdn.citylab.com/media/img/citylab/legacy/2013/12/09/a3.jpg"></img>
        </figure>

        <figure style="max-width:600px;">
            <img src="http://cdn.citylab.com/media/img/citylab/legacy/2013/12/09/a6.jpg"></img>
        </figure>
        <p>...and look at some real photos snapped on the Israeli street. Now, how would
        openly identified Jews or Israelis fare on the Muslim "street",   
        or at Muslim holy sites in the rest of the Middle East?
        Are different races, cultures and religions institutionally segregated on the
        Israeli street?</p>

        <div data-page="{{page}}" class="content" id="ct">
        {% for image_ob in images %}
            {% for path, ob in image_ob.iteritems() %}
                <figure><img src="{{path}}"><figcaption>{{ob.caption}}<time datetime="{{ob.date}}">{{ob.date}}</time></figcaption></figure>
            {% endfor %}
        {% endfor %}

        <ul class="pagination">
            <li class="arrow"><a href="?page=1">&laquo;</a></li>
            {% for list_ob in pager %}
                {% if list_ob.current == True %}
                    <li class="current">
                {% else %}
                    <li>
                {% endif %}
                {% if list_ob.next == True %}
                    <a id="next" href="?page={{loop.index}}">{{loop.index}}</a>
                {% else %}
                    <a href="?page={{loop.index}}">{{loop.index}}</a>
                {% endif %}
                </li>
            {% endfor %}
            <li class="arrow"><a href="?page={{pager|length}}">&raquo;</a></li>
        </ul>
        </div>
        <script type="text/javascript" src="static/js/scrolling.js"></script>
    </body>
</html

